<!DOCTYPE html>
<html>
<head>
    <title>To-Do App</title>
</head>
<body>
    <h1>Flask To-Do</h1>
<form method="POST">
    <input name="ID" placeholder="ID" required><br><br>
    <input name="title" placeholder="Title" required><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <input type="date" name="due_date"><br><br>
    <select name="status">
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="Overdue">Overdue</option>
    </select><br><br>
    <button type="submit">Add Task</button>
</form>
</body>
</html>
